.main-footer {
  @media (min-width: @desktop-width) {
    padding-top: 44px;
  }
}

.main-footer__container {
  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.main-footer__content {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.main-footer__col {
  padding: 20px 0;

  @media (min-width: @tablet-width) {
    width: 222px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 318px;
  }

  &--contacts {
    padding-bottom: 7px;
  }
}

.main-footer hr {
  position: relative;
  left: -20px;
  height: 1px;
  width: calc(100% + 40px);
  box-sizing: border-box;
  margin: 0;

  border-width: 0;
  background-color: #f0ebff;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-footer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    padding-top: 42px;
    padding-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.main-footer__row {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 20px;
  }
}

.main-footer__logo {
  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}

.main-footer__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: @additional-color;
}

.main-footer__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.main-footer__item {
  display: flex;
  align-items: center;
}

.main-footer__item:not(:last-child) {
  margin-bottom: 4px;
}

.main-footer__link {
  text-decoration: none;
  text-transform: uppercase;
  color: @basic-text;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;

  width: 260px;
  padding-top: 8px;
  padding-right: 0;
  padding-bottom: 8px;
  padding-left: 0;

  &:hover,
  &:focus-visible {
    color: #9070ec;
  }

  &:active {
    color: #593cac;
  }

  @media (min-width: @desktop-width) {
    width: 318px;
  }
}
