.user-list {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.user-list__link {
  display: flex;
  align-items: center;
  height: 60px;
  padding-right: 22px;
  padding-left: 22px;

  color: @basic-text;

  &:hover,
  &:focus-visible {
    color: #7859cf;
  }

  &:active {
    color: #7859cf;
    background-color: #f0ebff;
  }
}
