.copyright {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #bdbdbd;

  &:hover,
  &:focus-visible {
    color: @additional-color;
  }

  &:active {
    color: #593cac;
  }
}

.copyright__text {
  max-width: 300px;
  font-size: 12px;
  line-height: 16px;
}

.copyright__icon {
  margin-left: 4px;
}

.copyright__icon svg {
  vertical-align: middle;
}
