.field {
  min-width: 87px;
  max-width: 134px;
  height: 40px;
  padding: 8px 10px;
  text-align: center;

  background-color: @basic-back;
  border: 2px solid #9070ec;
  border-radius: 4px;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: @basic-text;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &::placeholder {
    color: #bdbdbd;
  }
}
