.product-card {
  padding: 40px 20px 20px;

  background-color: @basic-back;
}

.product-card__link {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  text-decoration: none;
  color: @basic-text;
}

.product-card__img {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
}

.product-card__title {
  margin: 0;
}

.product-card__text {
  margin-top: 0;
  margin-bottom: 16px;
}

.product-card__row {
  display: flex;
  align-items: center;
}

.product-card__price {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;

  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
