.range {
  display: flex;
  align-items: center;
  position: relative;
  height: 24px;
  min-width: 223px;
  max-width: 318px;

  &--disabled {
    .range__bar {
      background-color: #bdbdbd;
    }

    .range__toggle {
      border-color: #bdbdbd;
    }

    .range__toggle::before {
      display: none;
    }
  }
}

.range__scale {
  width: 100%;
  height: 2px;

  background-color: #e2e2e2;
}

.range__bar {
  position: absolute;
  height: 4px;
  top: 10px;

  background-color: #9070ec;
}

.range__toggle {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -10px;

  background-color: @basic-back;
  border: 2px solid #9070ec;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;

    border-radius: 50%;
  }

  &:hover,
  &:focus-visible {
    &::before {
      background-color: rgba(120, 89, 207, 0.25);
    }
  }

  &:active {
    &::before {
      background-color: @additional-color;
    }
  }

  &:disabled {
    border-color: #bdbdbd;
  }

  &:disabled::before {
    display: none;
  }

  &--min {
    left: -24px;
  }

  &--max {
    right: -24px;
  }
}
